<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.baidu.aip.asrwakeup3.core">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 蓝牙录音使用，不需要可以去除 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application>
        <!--
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="23784292"/>
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="QzHzZGR4XMRhm1E3a4KuN31P"/>
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="STl364WoaG5yoRib4le9e4Daeqj0nmHE"/>
        -->
    </application>
</manifest>
